ClienteJavaSW/src/META-INF/wsdl/localhost_8080/U1ServicioWebSoapAUT2/WSOperaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="loguin" type="tns:loguin"/>

<xs:element name="loguinResponse" type="tns:loguinResponse"/>

<xs:element name="procesarPago" type="tns:procesarPago"/>

<xs:element name="procesarPagoResponse" type="tns:procesarPagoResponse"/>

<xs:complexType name="procesarPago">
<xs:sequence>
<xs:element name="deuda" type="xs:int"/>
<xs:element name="pago" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesarPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loguin">
<xs:sequence>
<xs:element name="usario" type="xs:string" minOccurs="0"/>
<xs:element name="pasword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loguinResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>